<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
    <appender name="STDOUT" 
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd MMM HH:mm:ss} %-5level %C{0} %M %msg%n</pattern>
            <!-- this quadruples logging throughput -->
            <immediateFlush>true</immediateFlush>
        </encoder> 
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>   
    
    <appender name="Warnings"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/tmp/H-Warnings.log</file>
       
        <rollingPolicy
            class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/var/tmp/H-Warnings.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy 
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
    
        <encoder>
            <pattern>%d{dd MMM HH:mm:ss} %-5level %C{0} %M %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender> 
    
    <appender name="Resources"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/tmp/H-Resources.log</file>
       
        <rollingPolicy 
            class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/var/tmp/H-Resources.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
    
        <encoder>
            <pattern>%d{dd MMM HH:mm:ss} %-5level %C{0} %M %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender> 
    
    <appender name="Tenant" 
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/tmp/H-Tenant.log</file>
       
        <rollingPolicy
            class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/var/tmp/H-Tenant.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
    
        <encoder>
            <pattern>%d{dd MMM HH:mm:ss} %-5level %C{0} %M %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender> 
    
    <appender name="Root" 
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/tmp/H-Root.log</file>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/var/tmp/H-Root.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>

        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
    
        <encoder>
            <pattern>%d{dd MMM HH:mm:ss} %-5level %C{0} %M %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender> 
 
    <logger name="com.hiinoono.rest" level="DEBUG">
        <appender-ref ref="Resources" />
    </logger>
    
    <logger name="com.hiinoono.rest.tenant" level="DEBUG">
        <appender-ref ref="Tenant" />
    </logger>
    
    <root level="INFO">
        <appender-ref ref="Root" />
        <appender-ref ref="Warnings" />
    </root>

</configuration>
